@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  color-scheme: light dark;
}

*{
  user-select: none;
}

button:not(:disabled),
[role="button"]:not(:disabled) {
  cursor: pointer;
}